.wqd1438084545967css {
  margin: 0 auto;
  width: 96%;
  max-width: 960px;
  padding-bottom: 60px;
  font-family: "Microsoft Yahei";
}
.wqd1438084545967css .fade {
  -webkit-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
}
.wqd1438084545967css .news-table {
  list-style: none;
  padding: 0;
  margin: 0;
}
.wqd1438084545967css .news-table li {
  display: table;
  width: 100%;
}
.wqd1438084545967css .news-table .news-item {
  background-color: #f5f4f3;
  color: #5b5b5b;
  display: table-row;
  border-bottom: 1px solid #dcdddd;
}
.wqd1438084545967css .news-table .news-item .date {
  width: 80px;
  padding: .5em 0;
  color: #cbcecf;
  background: #f8f7f7;
  text-align: center;
  line-height: 1.1em;
  font-size: 21px;
  text-transform: uppercase;
  margin-right: 1em;
  height: 100%;
  border-right: 1px solid white;
  display: table-cell;
  vertical-align: middle;
  font-weight: 600;
}
.wqd1438084545967css .news-table .news-item .date strong {
  font-size: 36px;
  display: block;
}
.wqd1438084545967css .news-table .news-item .title {
  padding: .5em 1em .8em;
  display: table-cell;
}
.wqd1438084545967css .news-table .news-item .title h4 {
  margin: .2em 0;
}
.wqd1438084545967css .news-table .news-item .title p {
  margin: 0;
  font-size: 14px;
  line-height: 1.3em;
}
.wqd1438084545967css .news-table .news-item:hover * {
  color: #fff;
}
.wqd1438084545967css .news-table .news-item:hover .date {
  background: #2291b3;
  border-right: 1px solid #56c5e7;
}
