.wqd1438087994549css {
  padding-top: 70px;
  padding-bottom: 70px;
  background: #f4f4f4;
}
.wqd1438087994549css .text-center {
  padding-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
.wqd1438087994549css .text-center .text-h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.wqd1438087994549css .text-center .text-h3 {
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #111;
}
.wqd1438087994549css .text-center .text-h4 {
  color: #0BA9F9;
  font-size: 16px;
  margin-bottom: 10px;
}
.wqd1438087994549css .text-center .text-p {
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.wqd1438087994549css .text-center .img-responsive {
  border-radius: 8px;
  width: 100%;
}
